
body {
    background-color: #d5d5d5;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
}
h1 {
    height: auto;
    padding: 15px;
    margin-bottom: 0;
    margin-left: 10%;
}
#container {
    background-color: rgb(225, 219, 141);
    height: 100%;
}
li {
    color: rgb(39, 39, 39);
}
.list {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    border: 0px 1px 1px 1px solid #aeb1d1;
}
.list li {
    border-top: 1px dotted #aeb1d1;
    height: auto;
    padding: 8px;
}
.red-ruler {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 800px;
    margin-left: 10%;
}
.done {
    color: rgb(39, 39 39);
    text-decoration: line-through;
}